.triangulo{
    background-image: url(https://pm1.aminoapps.com/7937/755257fde5ee4faf2994a4ad717e89ebd66e6b61r1-250-250v2_00.jpg);
    background-repeat: no-repeat;
    background-size: 150px 130px;
}
